<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hair Salon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h3>The file for {{ deleted_client.getName }} has been deleted</h3><br>
                <label><a href="/clients">back to clients</a></label><br>
                <label><a href="/stylists">back to stylists</a></label><br>
                <label><a href="/">back to home</a></label>
            </div>
        </div>
    </body>
</html>
