<!DOCTYPE html>
<html>
    <head>
        <title>Hair Salon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="/css/bootswatch-superhero.css"> -->
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div id="top">
                <div class="row">
                    <div class="jumbotron" id="title">
                        <h1>Hair Salon</h1>
                    </div>
                </div>
                <!-- row  -->
            </div>
            <!-- top -->

            <div class="row">
                <div class="col-md-6" >
                    <div class="jumbotron" id="left">
                        <h3><a href="/stylists">Stylists</a></h3>
                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- left column -->
                <div class="col-md-6" >
                    <div class="jumbotron" id="right">
                        <h3><a href="/clients">Clients</a></h3>
                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- right column -->
            </div>
            <!-- row -->
        </div>
        <!-- content div -->
    </body>
</html>
