<!DOCTYPE html>
<html>
    <head>
        <title>Hair Salon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron" id="title">
                    <h1>Your Hair Salon</h1>
                </div>
            </div>
            <!-- row  -->
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h3>{{ stylist.getName }}</h3>
                        <ul>
                            <li>id: {{ stylist.getId }}</li>
                            <li>assigned clients:
                            <ul>
                            </ul></li>

                        </ul>

                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- left column -->
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h3>Update Stylist</h3>
                        <form action="/stylists/{{ stylist.getId }}" method="post">
                            <input name="_method" type="hidden" value="patch" required>
                            <label for="new_name">Stylist New Name:</label><br>
                            <input type="text" name="new_name" value=""><br>
                            <button type="submit" name="update-stylist">Submit</button>
                        </form>
                        <h3>Delete Stylist</h3>
                        <form action="/stylists/terminate/{{ stylist.getId }}" method="post">
                            <input name="_method" type="hidden" value="delete" required>
                            <button type="submit" class="btn button-danger" name="button">Delete This Stylist</button>
                        </form>
                        <!-- create form -->
                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- right column -->
            </div>
            <!-- row -->
        </div>
    </body>
</html>
